{% load account socialaccount %}

<div style="width: 75%;align-items:center;justify-content:center;margin:1rem; border:1px solid grey">
    <h2 class="m-3" style="display:block;">Login</h2>
    <hr>



<div class="w-100 m-2">
    <form action="" method="post">
        {% csrf_token %} {{form.as_p}}
        <button type="submit" class="btn btn-danger mt-2">Login</button>
    </form>
    {% comment %} <p>Need an account?  <a href="{% url 'register' %}">Sign Up Now</a></p> {% endcomment %}
    
          <form id="google_login" enctype="multipart/form-data" action="{% provider_login_url 'google' %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-success" value="Sign in with Google">
          </form> 

          {% comment %} bu tag degault yapıya yönlendirdi {% endcomment %}
          {% comment %} <a href="{% provider_login_url 'google' %}">Login with Google</a> {% endcomment %}